<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your favourite movies reviewed</h1>
    <p class="lead">Hey, sign up and start reviewing your favourite movies. Don't be a stranger</p>
    <p><%= link_to "Sign up to write a review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>


<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.variant(resize: "1400x2100"), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>
